@model Application.ViewModels.saveSerieViewModel

@{
    ViewData["Title"] = "Detalles de la Serie";
}

<div class="container">
    <h2>@Model.Nombre</h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9" style="width: 100%; height: 500px;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.EnlaceVideoYouTube" allowfullscreen style="width: 100%; height: 500px;"></iframe>
            </div>
        </div>
   
    </div>
</div>